REELREV_ENV=dev
REELREV_DATABASE_URL=sqlite:///./reelrev.db
REELREV_REDIS_URL=redis://localhost:6379/0
REELREV_MEDIA_TTL_HOURS=24
REELREV_REPORT_RETENTION_DAYS=90
REELREV_FREE_JOBS_PER_DAY=5
REELREV_MAX_DURATION_SEC=90
REELREV_MAX_UPLOAD_MB=250
REELREV_QUEUE_MODE=inline
REELREV_AUTH_MODE=header
REELREV_SUPABASE_JWT_SECRET=
REELREV_MEDIA_DIR=./media
REELREV_OPENAI_API_KEY=
REELREV_ENABLE_EXTERNAL_AI=false
REELREV_CORS_ORIGINS=http://localhost:3000
REELREV_EXPORT_DIR=./exports
REELREV_EXPORT_SIGNING_SECRET=dev-export-secret
REELREV_RATE_LIMIT_BURST_PER_MIN=120
REELREV_RATE_LIMIT_DAILY_REQUESTS=2000
